@model EcommerceWebApp.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="input-group">
                <label asp-for="ProductName" class="input-group-addon"> <i class="fa fa-shopping-cart"></i></label>
                <input asp-for="ProductName" class="form-control" placeholder="Product Name" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <br />
            <div class="input-group">
                <label asp-for="WebId" class="input-group-addon"><i class="glyphicon glyphicon-registration-mark"></i></label>
                <input asp-for="WebId" class="form-control" placeholder="WebId" />
                <span asp-validation-for="WebId" class="text-danger"></span>
            </div>
            <br />
            <div class="input-group">
                <label asp-for="Condition" class="input-group-addon"><i class=" glyphicon glyphicon-eye-open "></i></label>
                <input asp-for="Condition" class="form-control" placeholder="Condition" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div> <br />
            <div class="input-group">
                <label asp-for="BandName" class="input-group-addon"><i class="glyphicon glyphicon-bold"></i></label>
                <input asp-for="BandName" class="form-control" placeholder="BandName" />
                <span asp-validation-for="BandName" class="text-danger"></span>
            </div> <br />
            <div class="input-group">
                <label asp-for="Description" class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></label>
                <input asp-for="Description" class="form-control" placeholder="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div> <br />
            <div class="input-group">
                <label asp-for="Price" class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></label>
                <input asp-for="Price" class="form-control" placeholder="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div> <br />


            <div class="input-group">
                <label asp-for="CompanyId" class="input-group-addon"><i class="glyphicon glyphicon-tower"></i> Select Company</label>
                <select asp-for="CompanyId" asp-items="ViewBag.Company" class="form-control"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div><br />
            <div class="input-group">
                <label asp-for="CategoryId" class="input-group-addon"><i class=" glyphicon glyphicon-pencil "></i> Select Category</label>
                <select asp-for="CategoryId" asp-items="ViewBag.category" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div><br />
            <div class="input-group">
                <label asp-for="TagId" class="input-group-addon"><i class="glyphicon glyphicon-tags"></i> Select Tag</label>
                <select asp-for="TagId" asp-items="ViewBag.Tag" class="form-control"></select>
                <span asp-validation-for="TagId" class="text-danger"></span>
            </div><br />

            <br />
            <div class="input-group">
                <label asp-for="FeaturePhotoupload" class="input-group-addon"><i class=" glyphicon glyphicon-picture "></i></label>
                <input asp-for="FeaturePhotoupload" class="form-control" placeholder="FeaturePhoto" />
                <span asp-validation-for="FeaturePhotoupload" class="text-danger"></span>

            </div> <br />
            <img src="~/images/shop/@Model.FeaturePhoto" alt="Alternate Text" />
            <br />
            <div class="input-group">
                <label asp-for="SidePhotoOneupload" class="input-group-addon"><i class=" glyphicon glyphicon-picture "></i></label>
                <input asp-for="SidePhotoOneupload" class="form-control" placeholder="SidePhotoOne" />
                <span asp-validation-for="SidePhotoOneupload" class="text-danger"></span>

            </div> <br />
            <img src="~/images/shop/@Model.SidePhotoOne" alt="Alternate Text" />
            <div class="input-group">
                <label asp-for="SidePhotoTwoupload" class="input-group-addon"><i class=" glyphicon glyphicon-picture "></i></label>
                <input asp-for="SidePhotoTwoupload" class="form-control" placeholder="SidePhotoTwo" />
                <span asp-validation-for="SidePhotoTwoupload" class="text-danger"></span>

            </div> <br />
            <img src="~/images/shop/@Model.SidePhotoTwo" alt="Alternate Text" />
            <div class="input-group">
                <label asp-for="SidePhotoThreeupload" class="input-group-addon"><i class=" glyphicon glyphicon-picture "></i></label>
                <input asp-for="SidePhotoThreeupload" class="form-control" placeholder="SidePhotoThree" />
                <span asp-validation-for="SidePhotoThreeupload" class="text-danger"></span>

            </div>
            <img src="~/images/shop/@Model.SidePhotoThree" alt="Alternate Text" />
            <div class="input-group">
                <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-save"></i>Save</button>
            </div>
        </form>
    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
