@model EcommerceWebApp.Models.Category

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Category</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group">
                <label asp-for="CateName" class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></label>
                <input asp-for="CateName" class="form-control" placeholder="CateName" />
                <span asp-validation-for="CateName" class="text-danger"></span>
            </div> <br />
            <div class="input-group">
                <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-save"></i>Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
