@model EcommerceWebApp.Models.Tag

@{
    ViewData["Title"] = "AddTag";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="form-wrapper">
    <form asp-action="AddTag">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-row">
            <div class="col-15">
                <label asp-for="TagName" class="input-label"></label>
            </div>

            <div class="col-75">
                <input asp-for="TagName" class="user-input" />
                <span asp-validation-for="TagName" class="validation-text"></span>


            </div>
        </div>
        

        <div class="btn-row">
            <input type="submit" value="Create" class="btn-submit" />
        </div>

    </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
