@model IEnumerable<EcommerceWebApp.Models.Category>

@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<p>
    <a asp-action="AddCategory" asp-controller="Admin" class="addnewbtn"><i class="fas fa-plus-circle"></i>  Add New Category</a>
</p>

<table>
    <caption>Category List</caption>
    <thead>
        <tr>
            <th scope="col"> @Html.DisplayNameFor(model => model.CateName)</th>
           
            <th scope="col"> Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td data-label="@Html.DisplayNameFor(model => model.CateName)">@Html.DisplayFor(modelItem => category.CateName)</td>
                <td data-label="Action">Button</td>
            </tr>
        }


    </tbody>
</table>