@model IEnumerable<EcommerceWebApp.Models.Company>

@{
    ViewData["Title"] = "CompanyList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a asp-action="AddCompany" asp-controller="Admin" class="addnewbtn"><i class="fas fa-plus-circle"></i>  Add New Company</a>
</p>

<table>
    <caption>Company List</caption>
    <thead>
        <tr>
            <th scope="col"> @Html.DisplayNameFor(model => model.CompanyName)</th>

            <th scope="col"> Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td data-label="@Html.DisplayNameFor(model => model.CompanyName)">@Html.DisplayFor(modelItem => company.CompanyName)</td>
                <td data-label="Action">Button</td>
            </tr>
        }


    </tbody>
</table>