@model IEnumerable<EcommerceWebApp.Models.Tag>

@{
    ViewData["Title"] = "TagList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a asp-action="AddTag" asp-controller="Admin" class="addnewbtn"><i class="fas fa-plus-circle"></i>  Add New Tag</a>
</p>

<table>
    <caption>Tag List</caption>
    <thead>
        <tr>
            <th scope="col"> @Html.DisplayNameFor(model => model.TagName)</th>

            <th scope="col"> Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td data-label="@Html.DisplayNameFor(model => model.TagName)">@Html.DisplayFor(modelItem => tag.TagName)</td>
                <td data-label="Action">Button</td>
            </tr>
        }


    </tbody>
</table>